<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022648215001-ohurrno829cc4bbrnj6446vp6v67a21r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022648215001-ohurrno829cc4bbrnj6446vp6v67a21r</string>
	<key>API_KEY</key>
	<string>AIzaSyBZl9jwfTnMef8zwxSxlN-VZvCKc24ScPs</string>
	<key>GCM_SENDER_ID</key>
	<string>1022648215001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.dashboard</string>
	<key>PROJECT_ID</key>
	<string>tasly-aoiqqh</string>
	<key>STORAGE_BUCKET</key>
	<string>tasly-aoiqqh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022648215001:ios:915ab2f1735b9f5851a5c8</string>
</dict>
</plist>